{% extends "base.html" %}

{% block content %}
<h1>Calorie Summary</h1>

{% if entries %}
<table border="1" cellpadding="5">
    <tr>
        <th>Food</th>
        <th>Calories</th>
    </tr>
    {% for item in entries %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.calories }}</td>
    </tr>
    {% endfor %}
</table>

<p><strong>Total Calories:</strong> {{ total_calories }}</p>
{% else %}
<p>No foods logged yet. Go to "Add Food" to start tracking.</p>
{% endif %}

{% endblock %}
